.slider {
    padding-bottom: 64px;
    padding-top: 80px;
    &__wrapper {
        position: relative;
        display: flex;
        align-items: flex-end;
    }
    &__header {
        font-weight: bold;
        font-size: 40px;
        line-height: 3.1rem;
    }
    &__slides{
        top: 140px;
        left: 753px;
    }
    &__count,
    &__total {
        font-size: 20px;
        line-height: 1.75rem;
        span {
            font-weight: bold;
            font-size: 24px;
            line-height: 2rem;
            color: $blue;
        }
    }
    &__total {
        margin-top: 12px;
    }
    &__content-wrapper {
        margin-left: 7vw;
    }
    &__btns {
        display: flex;
        width: 136px;
        justify-content: space-between;
        margin-top: 128px;
    }
}

.swiper-container {
    margin: 0;
    margin-top: 50px;
    max-width: 615px;
    max-height: 300px;
}

.swiper-slide img{
    width: 100%;
    height: auto;
}

.swiper-button-prev,
.swiper-button-next {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $blue;
    margin: 0;
    position: inherit;
    &::after {
        content: none;
    }
    &:hover {
        background-color:#4F86CF;
    }
}